.home{
    padding-top: 4.65rem;
    @include breakpoint(small only){
        padding-top: 2rem;
    }
    .hero{
        width: 100%;
        box-sizing: border-box;
    }
    .hero-slider{
        img{
            width: 100% !important;
        }
    }
    .display-products{
        padding: 2rem;
        @include breakpoint(small only){
            padding: 0.7rem;
            text-align: center;
        }
        a{
            color: black;
            &focus{
                outline-style: none;
            }
        }
        .card{
            padding: 0.9rem;
            margin-bottom: 1rem;
            .card-section{
                margin-bottom: 0.7rem;
                img{
                    border-radius: 0.4rem;
                    width: 200px !important;
                    height: 225px !important;
                }
                .button{
                    border-radius: 0.2rem;
                    cursor: pointer;
                    font-size: 0.8rem;
                    &.more{
                        color: red;
                        background-color: white;
                        border: 1px solid red;
                    }
                    &.cart{
                        color: green;
                        background-color: white;
                        border: 1px solid green;
                        &:hover{
                            background-color: lighten(green,50%);
                        }
                    }

                }
            }
        }
    }
}